body{
    margin:0;
}

header{
    background-color: #373738;
    padding: 15px;
}

header ul {
    float: right;
    color: white;
}

header li{
    display: inline-block;
    padding: 0px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

header p {
    display: inline-block;
}

.heroImg{
    background-color: #EBEBEB;
    padding: 100px 15px;
}

.content{
    max-width:300px;
    margin:0 auto;
    padding: 50px;
    background-color: #FFFFFF;
    text-align: center;
}

button {
    padding: 15px;
    background-color: #373738;
    color: white;
    font-size: 15px;
    border-radius: 4px;
}

.logo{
    width:23%;
    padding:1%;
    text-align:center;
}

footer {
    background-color: #373738;
    padding: 5px;
    color: white;
}

footer ul {
    list-style: none;
    padding-left: 5px;
}

footer li {
    display: inline-block;
    padding: 0px 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* flexbox */

.flexContainer{
    display:flex;
    flex-direction: row;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flexContainer div{
    width:33%;
    padding: 1em;
    margin: left;
}

.skillsImage{
    height:400px;
}

/* CSS GRID */

.workGrid{
    display: grid;
    grid-template-rows: 2/6fr 4/6fr;
    grid-template-columns: 2/6fr 4/6fr;
    grid-template-areas: 
    "item1 item2"
    "item3 item4";
}